<div class="div-rooms-container">
    <div class="div-rooms-action-row">
        <button mat-icon-button color="primary" (click)="getAllRooms()"><mat-icon>refresh</mat-icon></button>
        <div>{{message}}</div>
    </div>
    <div class="div-rooms">
        <div *ngFor="let room of rooms">
            <mat-card>
                <mat-card-title>{{room.title}}</mat-card-title>
                <mat-card-subtitle>{{room.description}}</mat-card-subtitle>
                <mat-card-actions>
                    <button mat-icon-button (click)="deleteRoom(room.id)"><mat-icon>delete</mat-icon></button>
                    <button mat-icon-button (click)="joinRoom(room.id)"><mat-icon>chat</mat-icon></button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>