<div class="div-root-container darkMode mat-app-background">
  <app-login></app-login>
  <app-create-room></app-create-room>
  <app-rooms></app-rooms>

<!-- 
  <button mat-flat-button (click)="login()">Login</button>
  <button mat-flat-button (click)="createRoom()">Create Room</button>
  <button mat-flat-button (click)="getAllRooms()">Get All Rooms</button>
  <button mat-flat-button (click)="joinRoom()">Join Room</button> -->
  <!-- <div class="div-router-outlet">
    <router-outlet></router-outlet>
  </div> -->
</div>