<div class="div-room-container">
    <ng-container *ngIf="currentRoom; then loggedIn; else loggedOut">
    </ng-container>

    <ng-template #loggedIn>
        <div class='div-header'>
            <div>{{currentRoom?.title}}</div>
            <div>{{currentRoom?.description}}</div>
            <span *ngFor="let user of currentRoom?.users">{{user.username}}</span>
            <button mat-icon-button (click)="doExitRoom()"><mat-icon>delete</mat-icon></button>
        </div>
    </ng-template>

    <ng-template #loggedOut>
        <div class="div-header">
            Empty Room
        </div>
    </ng-template>

    <div class='div-messages'>body</div>
    <div class="div-send-message">
        <form [formGroup]="form">
            <mat-form-field>
                <mat-label>New Message</mat-label>
                <input matInput formControlName="chat" required>
            </mat-form-field>
        </form>
    </div>
</div>