.div-room-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    border: 1px solid gray;

    .div-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5px;
        padding: 5px;
    }

    .div-messages {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        border: 1px solid green;
        padding: 5px;
    }

    .div-send-message mat-form-field {
        width: 100%;
        padding: 5px;
    }
}