.div-login-container {
    display: flex;
    width: 100%;
}

.form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 5px;

    #login_btn {
        height: 56px;
        transform: translateY(-9px);
    }
}