.div-form-container { 
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;

    .div-description mat-form-field {
        width: 500px;
    }

    #create_btn {
        height: 56px;
        transform: translateY(-9px);
    }
}