html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;

  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input,
textarea {
  -moz-user-select: text;
  user-select: text;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
pre,
textarea {
  margin: 0;
  padding: 0;
}

// make progress bar smoother.
progress::-webkit-progress-value {
  transition: 0.1s all ease;
}